body {
  margin: 0;
  overflow: hidden;
}

.slider-content {
  height: 700px;
  display: none;
}

.current {
  display: block;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative; 
  bottom: 250px;
  width: 40%;
  height: auto;
  padding: 5px 0px 5px 10px;
  font-size: 15px;
  word-spacing: 5px;
  line-height: 25px; 
  background-color: #ffffff80;
}

.previous-button {
  position: absolute;
  top: 300px;
  border: unset;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.icon {
  font-size: 4em;
  color: #ffffff80;
}

.previous-button:focus,
.next-button:focus {
  border: 1px solid black;
  background-color: #acff2f34;
}

.next-button {
  position: absolute;
  right: 0;
  top: 300px;
  border: unset;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.icon:active {
  transform: translateY(4px);
}

@media screen and (max-width: 768px) {
  .content {
    width: 60%;
    padding: 4px 0 4px 8px;
    font-size: 15px;
    word-spacing: 2px;
    line-height: 20px; 
  }
}

@media screen and (max-width: 425px) {
  .content {
    bottom: 20em;
  }
} 

@media screen and (max-width: 375px) {
  .content {
    bottom: 22em;
  }
}
